body {
    font-family: Arial, sans-serif;
    background: url('esi.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.contenedor {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    z-index: 1;
    position: relative;
    border: 1px solid #ccc; /* Añadir un borde fino de 1px */
}

.contenedor-título {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contenedor-título h1 {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}

.logo-google-título {
    width: 24px; /* Tamaño ajustado para el logo */
    height: 24px;
}

.grupo-formulario {
    margin-bottom: 15px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.grupo-formulario input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.grupo-formulario input:focus {
    border-color: #007bff;
    outline: none;
}

.grupo-formulario button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.grupo-formulario button:hover {
    background-color: #0056b3;
}

.grupo-formulario .error {
    color: red;
    font-size: 14px;
}
